$picton-blue: #1fa1d8;
$turquoise: #15e6cd;
$duke-blue: #0d00a4;
$night: #0a0a0a;
$anti-flash-white: #f0edee;
$aureolin: #ede630;
$errorRed: #d2250f;

$blue-gradient: linear-gradient(90deg, $duke-blue, $picton-blue, $turquoise);
